{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Filsamero</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="{% url 'mainpage' %}" class="logo"><strong>Filsamero</strong></a>
            <ul class="icons">
              <li>
                <a href="#" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-snapchat-ghost"
                  ><span class="label">Snapchat</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-medium-m"
                  ><span class="label">Medium</span></a
                >
              </li>
            </ul>
          </header>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h1>Filsamero</h1>
                <p>힙스터들의 필름카메라 놀이터</p>
              </header>
              <br>세상 가장 특별한 1초, 세상 가장 특별한 사진 1장.<br>
              오늘의 햇살, 오늘의 풍경, 사랑하는 사람들을 당신만의 감각으로<br>
              카메라에 담아주세요. 당신의 필름카메라 놀이터 필새로이</p>
              <ul class="actions">
                <li><a href="{% url 'signup' %}" class="button big">Sign up</a></li>
                <li><a href="{% url 'login' %}" class="button big">Sign in</a></li>
              </ul>
            </div>
            <span class="image object">
              <img src="../images/mainPage.jpeg" alt="" />
            </span>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>베스트 작가</h2>
            </header>
            <div class="features">
              <article>
                <span class="icon fa-gem"></span>
                <div class="content">
                  <h3>변은서</h3>
                  <p>은서님의 감각적인 사진 블라블라</p>
                </div>
              </article>
              <article>
                <span class="icon solid fa-paper-plane"></span>
                <div class="content">
                  <h3>박효원</h3>
                  <p>효원님의 감각적인 사진 블라블라</p>
                </div>
              </article>
              <article>
                <span class="icon solid fa-rocket"></span>
                <div class="content">
                  <h3>임다민</h3>
                  <p>다민님의 감각적인 사진 블라블라</p>
                </div>
              </article>
              <article>
                <span class="icon solid fa-signal"></span>
                <div class="content">
                  <h3>박진주</h3>
                  <p>진주님의 감각적인 사진 블라블라</p>
                </div>
              </article>
            </div>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>인기 포스트</h2>
            </header>
            <div class="posts">
              <article>
                <a href="#" class="image"
                  ><img src="../images/contents1.jpeg" alt=""
                /></a>
                <h3>저녁 노을 내려앉은 거리</h3>
                <p>
                  어스름한 여름 저녁. 네온사인이 하나둘 켜지기 시작하는 이
                  시간대를 자세히 본 적이 있나요?
                </p>
                <ul class="actions">
                  <li><a href="#" class="button">More</a></li>
                </ul>
              </article>
              <article>
                <a href="#" class="image"
                  ><img src="../images/contents5.jpeg" alt=""
                /></a>
                <h3>추억은 흑백사진을 닮아</h3>
                <p>때로는 컬러보다 더 큰 힘을 가진 흑백의 매력</p>
                <ul class="actions">
                  <li><a href="#" class="button">More</a></li>
                </ul>
              </article>
              <article>
                <a href="#" class="image"
                  ><img src="../images/contents3.jpeg" alt=""
                /></a>
                <h3>코시국 전 마지막 여행이 될 줄이야</h3>
                <p>
                  코시국 전에 여행을 다녀오길 정말 잘한 것 같아요. 네온사인
                  하나에도 두근거리던 작년 마지막 여행. 다들 여행 마려우시죠?
                </p>
                <ul class="actions">
                  <li><a href="#" class="button">More</a></li>
                </ul>
              </article>
              <article>
                <a href="#" class="image"
                  ><img src="../images/contents4.jpeg" alt=""
                /></a>
                <h3>해외에서 친구들을 사귀었다</h3>
                <p>
                  여행지에서 만난 친구들. 다들 모델학과 나오셨나 포즈가 아주
                  자연스러웠다.
                </p>
                <ul class="actions">
                  <li><a href="#" class="button">More</a></li>
                </ul>
              </article>
              <article>
                <a href="#" class="image"
                  ><img src="../images/contents2.jpeg" alt=""
                /></a>
                <h3>횡단보도 풍경</h3>
                <p>보통날 마주친 가장 보통의 풍경.</p>
                <ul class="actions">
                  <li><a href="#" class="button">More</a></li>
                </ul>
              </article>
              <article>
                <a href="#" class="image"
                  ><img src="../images/contents6.jpeg" alt=""
                /></a>
                <h3>내가 사랑하는 사람</h3>
                <p>
                  어느날 문득 여자친구가 너무 예뻐보여서 프로포즈했어요. 그녀의
                  이름을 부르자 무심하게 돌아보는 그녀. "결혼해줄래?"
                </p>
                <ul class="actions">
                  <li><a href="#" class="button">More</a></li>
                </ul>
              </article>
            </div>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Search -->
          <section id="search" class="alt">
            <form method="post" action="#">
              <input type="text" name="query" id="query" placeholder="Search" />
            </form>
          </section>

          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="{% url 'mainpage' %}">Homepage</a></li>
              <li><a href="{% url 'main' %}">Community</a></li>
              <li><a href="{% url 'cameraTest' %}">cameraTest</a></li>
              <li><a href="{% url 'mypage' %}">My page</a></li>
            </ul>
          </nav>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved.</p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
