<!DOCTYPE html>
<html>
  <head>
    <title>LogIn</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="logInPage.css" />
  </head>
  <body>
    <img src="../images/mainPage.jpeg" class="login-img" />
    <div class="login-title">
      <h1 class="login-title__maintext">Filsamero</h1>
      <p class="login-title__subtext">힙스터들의 필름카메라 놀이터</p>
    </div>

    <form action="find.html" class="login-form">
      <input
        name="username"
        type="text"
        required
        autocomplete="off"
        placeholder="ID"
      />
      <input
        name="password"
        type="password"
        required
        autocomplete="off"
        placeholder="PASSWORD"
      />
      <input type="submit" value="접속하기" />
    </form>
  </body>
</html>
