<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css">
    <title>main</title>
</head>
<body>

<!--메인감싸기-->
    <div id="main">
        <div class="inner">
    
        
    
    <!--첫화면-->
        <section id="banner">
            <div class="content">
                <header>
                    <h1>FILSAMIRO</h1>
                    <p>힙스터들의 필름카메라 놀이터</p>
                </header>
                <p>필새미로는 어쩌구 저쩌구 소개하는 자리</p>
            </div>

            <span class="imageObject">
                <img src="../images/mainPage.jpeg" alt="" />
            </span>
        </section>
    
    <!--인기작가-->
		<section>
			<header class="major">
				<h2>인기작가</h2>
			</header>
			<div class="writer">
				<article>
					<span class="이미지 클래스 이름1"></span>
					<div class="content">
						<h3>누구</h3>
						<p>간단한 설명</p>
					</div>
				</article>
				<article>
					<span class="이미지 클래스 이름2"></span>
					<div class="content">
						<h3>누구</h3>
						<p>간단한 설명</p>
					</div>
				</article>
						
                <article>
					<span class="이미지 클래스 이름3"></span>
					<div class="content">
					<h3>누구</h3>
						<p>간단한 설명</p>
					</div>
				</article>
						
                <article>
					<span class="이미지 클래스 이름4"></span>
					<div class="content">
					<h3>누구</h3>
						<p>간단한 설명</p>
					</div>
				</article>
			</div>
		</section>

    <!--인기포스트-->
        <section>
            <header class="major">
                <h2>인기 포스트</h2>
            </header>


            <div class="posts">
                                    
                <article>
                    <a href="#" class="image"><img src="이미지이름" alt="" /></a>
                    <h3>포스트 제목 여기에</h3>
                    <p>간단한 소개 여기에</p>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </article>

                <article>
                    <a href="#" class="image"><img src="이미지이름" alt="" /></a>
                    <h3>포스트 제목 여기에</h3>
                    <p>간단한 소개 여기에</p>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </article>

                <article>
                    <a href="#" class="image"><img src="이미지이름" alt="" /></a>
                    <h3>포스트 제목 여기에</h3>
                    <p>간단한 소개 여기에</p>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </article>

                <article>
                    <a href="#" class="image"><img src="이미지이름" alt="" /></a>
                    <h3>포스트 제목 여기에</h3>
                    <p>간단한 소개 여기에</p>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </article>
            </div>
        </section>
            
    <!--추천 카메라 테스트-->
        </div>
    </div>
    
<!--사이드 네브바-->
    <div id="sidebar">
        <div class="inner">
</body>
</html>
