<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main2.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="banner">
      <div class="content-box">
        <header>
          <h1>FILSAMIRO</h1>
          <p>힙스터들의 필름카메라 놀이터</p>
        </header>
        <p>필새미로는 어쩌구 저쩌구 소개하는 자리</p>
        <div id="grayBox"></div>
        <button id="sign-up">sign up</button>
        <button id="sign-in">sign in</button>
        <span class="mainImage">
          <img src="../images/mainPage.jpeg" alt="" width="900px" />
        </span>
      </div>
    </section>

    <section id="menu">
      <div class="card-box">
        <h2>camera</h2>
        <div id="camera_pic">
          <img src="../images/camera.png" />
          <p>카메라를 누르면 나에게 가장 잘 맞는 카메라를 찾을 수 있당</p>
        </div>
      </div>

      <div class="card-box">
        <h2>contents</h2>
        <div id="camera_pic">
          <img src="../images/contents.jpeg" />
          <p>이거는 포스트 보는거당</p>
        </div>
      </div>

      <div class="card-box">
        <h2>photographers</h2>
        <div id="photographers">
          <img src="../images/photographers.jpeg" />
          <p>이거는 포토그래퍼들의 프로필&포트폴리오를 볼 수 있다</p>
        </div>
      </div>
    </section>
  </body>
</html>
