
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Filsamero</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
			</style>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
		<!-- Main -->
		<div id="main">
		  <div class="inner">
			<!-- Header -->
			<header id="header">
			  <a href="{% url 'mainpage' %}" class="logo"><strong>Filsamero</strong></a>
			  {% if user.is_authenticated %} <!-- 로그인된 상태인지 체크 -->
			  <a href = "{% url 'logout' %}" >로그아웃</a>
		  {% else %} <!--로그인이 되어있지 않은 경우 -->
			  <a href = "{% url 'login' %}">로그인</a>
			  <a href = "{% url 'signup' %}">회원가입</a>
		  {% endif %}
			  <ul class="icons">
				<li>
				  <a href="#" class="icon brands fa-twitter"
					><span class="label">Twitter</span></a
				  >
				</li>
				<li>
				  <a href="#" class="icon brands fa-facebook-f"
					><span class="label">Facebook</span></a
				  >
				</li>
				<li>
				  <a href="#" class="icon brands fa-snapchat-ghost"
					><span class="label">Snapchat</span></a
				  >
				</li>
				<li>
				  <a href="#" class="icon brands fa-instagram"
					><span class="label">Instagram</span></a
				  >
				</li>
				<li>
				  <a href="#" class="icon brands fa-medium-m"
					><span class="label">Medium</span></a
				  >
				</li>
			  </ul>
			</header>
  
			<!-- Banner -->
			<section id="banner">
			  <div class="content">
                <form class="d-flex">           

                </form>
            
                <div class = "text-center">
                    <h1>회원가입 페이지</h1>
                    
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                    <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">회원가입</button>
                    </form>
                </div>
			  </div>
			</section>
		  </div>
		</div>
  
		<!-- Sidebar -->
		<div id="sidebar">
		  <div class="inner">
			<!-- Search -->
			<section id="search" class="alt">
			  <form method="post" action="#">
				<input type="text" name="query" id="query" placeholder="Search" />
			  </form>
			</section>
  
			<!-- Menu -->
			<nav id="menu">
			  <header class="major">
				<h2>Menu</h2>
			  </header>
              <ul>
                <li><a href="{% url 'mainpage' %}">Homepage</a></li>
                <li><a href="{% url 'main' %}">Community</a></li>
				<li><a href="{% url 'camerashop' %}">cameraShop</a></li>
                <li><a href="{% url 'cameraTest' %}">cameraTest</a></li>
                <li><a href="{% url 'mypage' %}">My page</a></li>
              </ul>
			</nav>
  
			<!-- Footer -->
			<footer id="footer">
			  <p class="copyright">&copy; Untitled. All rights reserved.</p>
			</footer>
		  </div>
		</div>
	  </div>
  
	  <!-- Scripts -->
	  <script src="static/js/jquery.min.js"></script>
	  <script src="static/js/browser.min.js"></script>
	  <script src="static/js/breakpoints.min.js"></script>
	  <script src="static/js/util.js"></script>
	  <script src="static/js/main.js"></script>
	</body>
  </html>